@tailwind base;
@tailwind components;
@tailwind utilities;

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  font-weight: normal;
}

body {
  min-height: 100vh;
  height: 100%;

  @apply bg-gray-100 dark:bg-zinc-900;
  @apply text-zinc-900 dark:text-white;

  @apply antialiased transition-colors duration-200 ease-linear;

  line-height: 1.6;
  font-family: "Pretendard-Regular", sans-serif;
  font-size: 15px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#app {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  height: 100%;
}
