@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  h1 {
    @apply text-4xl max-sm:text-2xl;
  }

  h2 {
    @apply text-2xl max-sm:text-xl;
  }

  h3 {
    @apply text-xl max-sm:text-lg;
  }

  mark {
    @apply rounded bg-green-300 px-1 text-sm;
  }

  ul.stack {
    @apply w-full grid grid-flow-col-dense max-sm:grid-flow-row-dense place-content-start gap-x-4 gap-y-0 auto-cols-auto max-sm:grid-cols-2;
  }
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  font-weight: normal;
}

body {
  min-height: 100vh;
  height: 100%;

  @apply bg-gray-100 dark:bg-zinc-900;
  @apply text-zinc-900 dark:text-white;

  @apply antialiased transition-colors duration-200 ease-linear;

  line-height: 1.6;
  font-family: "Pretendard-Regular", sans-serif;
  font-size: 15px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#app {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  height: 100%;
}
